layout {
	cwd "__FF15_WORKSPACE_ROOT__"
	pane split_direction="vertical" {
		pane split_direction="horizontal" {
			__FF15_NOCTIS_PANE__
			__FF15_IGNIS_PANE__
		}
		pane split_direction="horizontal" {
			__FF15_GLADIOLUS_PANE__
			__FF15_PROMPTO_PANE__
		}
	}
}